body{
  background-color:#ffffff;
  color:#000000;
  font-family:Arial,sans-serif;
  margin: 0;
  padding: 20 px;
  text-align:center;
}
h1 {
  background-color:#f5f5dc;
  padding: 10px;
  border-radius:8px;
}
  
